## Basic data cleaning & EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
# Read in scraped data from poshmark.com
df = pd.read_csv('all_posts.csv', index_col=0)

In [3]:
df.tail(3)

,brand,description,item_id,price,status,tags,title,url
11707,eric + ani,White very light weight top. Sparkly pear grap...,5c48fdee9539f7b6b5c3e2db,"['$5', '$25']",Buy Now,"['Women', 'Tops', 'Tees - Short Sleeve']",Eric + ani pear sparkly top,https://poshmark.com/listing/Eric-ani-pear-spa...
11708,BKE,33X33 1/2,5c48fe7a409c15e95d761881,"['$30', '$45']",Buy Now,"['Women', 'Jeans', 'Boot Cut']",BKE Payton Jeans,https://poshmark.com/listing/BKE-Payton-Jeans-...
11709,Nike,NEW WOMENS NIKE AIR MAX 95’ SE GLITTER,5c48fe4003087c8aaef53fab,"['$75', '$170']",Buy Now,"['Women', 'Shoes', 'Sneakers']",NEW WOMENS NIKE AIR MAX 95’ SE GLITTER,https://poshmark.com/listing/NEW-WOMENS-NIKE-A...

In [4]:
# Check for duplicate rows
df.duplicated(subset=['item_id']).sum()

1

In [5]:
# Find which rows are duplicated
dup = df[df.duplicated(subset=['item_id']) == True].index[0]

In [6]:
# Drop any null rows
df.drop(index=dup, inplace=True)

# Now that rows have been deleted, reset the index
df.reset_index(inplace=True, drop=True)

In [7]:
# Check for nulls using item_id column
df['item_id'].isnull().sum()

1

In [8]:
# Find which rows are null
ind = df[df['item_id'].isnull()].index[0]

In [9]:
# Drop any null rows
df.drop(index=ind, inplace=True)

# Now that rows have been deleted, reset the index
df.reset_index(inplace=True, drop=True)

In [10]:
try:
    ind = df[df['price'].isnull()].index[0]
except:
    pass

In [11]:
# Drop any null rows
df.drop(index=ind, inplace=True)

# Now that rows have been deleted, reset the index
df.reset_index(inplace=True, drop=True)

#### Clean up `price` column

In [12]:
# Clean up 'price' column by removing extraneous characters in string
# Split 'price' into a list of 2 strings; original and new price
for i in range(len(df)):
    df['price'][i] = df['price'][i].replace("'", "").replace('$', '').replace('[', '').replace(']', '').replace(' ', '').split(',')

In [13]:
# Create empty DataFrame (df2) with identical index to main DataFrame (df)
df2 = pd.DataFrame(columns=['original_price', 'new_price'], 
                   index=df.index)

In [14]:
# Set df2 columns as new_price and original_price
for i in range(len(df)):
    df2['new_price'][i] = df['price'][i][0]
    df2['original_price'][i] = df['price'][i][1]

In [15]:
df2.head(3)

  original_price new_price
0             40        35
1            340       115
2             24        15

In [16]:
# Concatenate df and df2
df = pd.concat([df, df2], axis=1)

In [17]:
df.head(3)

,brand,description,item_id,price,status,tags,title,url,original_price,new_price
0,Benefit,"Includes full size Bad Gal Lash black, full si...",5c8fdb59409c15d1a7284952,"[35, 40]",Buy Now,"['Women', 'Makeup', 'Mascara']",Nwt Benefit Triple Decker Decadence Makeup Set,https://poshmark.com/listing/Nwt-Benefit-Tripl...,40,35
1,Reiss,Reiss Geometric Print Silk Dress. Size US 8. L...,5c8fdba3035cf175a59fe617,"[115, 340]",Buy Now,"['Women', 'Dresses']",Reiss Geometric Print Silk Dress,https://poshmark.com/listing/Reiss-Geometric-P...,340,115
2,Urban Decay,Fabulous Urban Decay eyeshadow primer.,5c8fdb58c89e1dbee824798b,"[15, 24]",Buy Now,"['Women', 'Makeup', 'Eye Primer']",Urban Decay primer,https://poshmark.com/listing/Urban-Decay-prime...,24,15

In [18]:
# Check datatypes
df.dtypes

brand             object
description       object
item_id           object
price             object
status            object
tags              object
title             object
url               object
original_price    object
new_price         object
dtype: object

In [19]:
# Set price columns as floats instead of strings
df['original_price'] = df['original_price'].astype(float)
df['new_price'] = df['new_price'].astype(float)

In [20]:
# Check datatypes again
df.dtypes

brand              object
description        object
item_id            object
price              object
status             object
tags               object
title              object
url                object
original_price    float64
new_price         float64
dtype: object

In [21]:
# Drop old 'price' column
df.drop(columns=['price'], inplace=True)

In [22]:
df.head(3)

,brand,description,item_id,status,tags,title,url,original_price,new_price
0,Benefit,"Includes full size Bad Gal Lash black, full si...",5c8fdb59409c15d1a7284952,Buy Now,"['Women', 'Makeup', 'Mascara']",Nwt Benefit Triple Decker Decadence Makeup Set,https://poshmark.com/listing/Nwt-Benefit-Tripl...,40.0,35.0
1,Reiss,Reiss Geometric Print Silk Dress. Size US 8. L...,5c8fdba3035cf175a59fe617,Buy Now,"['Women', 'Dresses']",Reiss Geometric Print Silk Dress,https://poshmark.com/listing/Reiss-Geometric-P...,340.0,115.0
2,Urban Decay,Fabulous Urban Decay eyeshadow primer.,5c8fdb58c89e1dbee824798b,Buy Now,"['Women', 'Makeup', 'Eye Primer']",Urban Decay primer,https://poshmark.com/listing/Urban-Decay-prime...,24.0,15.0

In [23]:
df[['original_price', 'new_price']].describe()

       original_price     new_price
count    11707.000000  11707.000000
mean       400.202187     48.786111
std      13491.587086    144.502359
min          0.000000      3.000000
25%          0.000000     15.000000
50%         40.000000     25.000000
75%         89.000000     40.000000
max    1000000.000000   4950.000000

In [24]:
# How many 'original_price' are $0?
len(df[df['original_price'] == 0].sort_values(by='new_price'))

2988

In [25]:
# How many observations are viable when we erase all observations where `original_price` = 0?
len(df) - len(df[df['original_price'] == 0].sort_values(by='new_price'))

8719

In [26]:
# All data, minus all rows where 'original_price' == 0
no_zero = df[df['original_price'] != 0]

In [27]:
no_zero.describe()

       original_price    new_price
count     8719.000000  8719.000000
mean       537.351416    52.371029
std      15631.237949   149.728332
min          1.000000     3.000000
25%         35.000000    15.000000
50%         60.000000    25.000000
75%        110.000000    45.000000
max    1000000.000000  4500.000000

In [28]:
# Find rows where original_price > 500 and sort from highest to lowest AS
df[df['original_price'] > 500].sort_values(by='original_price',
                                        ascending=False)

,brand,description,item_id,status,tags,title,url,original_price,new_price
1971,NaN,The length of the shirt from the top of the ba...,5c75b30a3c9844744d367de7,Buy Now,"['Women', 'Tops']",Black&White Lace Top,https://poshmark.com/listing/BlackWhite-Lace-T...,1000000.0,5.0
6004,biviel anthropologie,Good used condition,5c579d25c61777dfc8c9b9c2,Buy Now,"['Women', 'Shoes', 'Sandals']",Biviel Anthropologie tan sandals sz 40 9.5 suede,https://poshmark.com/listing/Biviel-Anthropolo...,999999.0,39.0
11316,Violet & Claire,Ruffled in the front\nLightweight,5c4a0da45a9d21191850cbb9,Buy Now,"['Women', 'Tops', 'Blouses']",Violet + Claire Lightweight Green Blouse,https://poshmark.com/listing/Violet-Claire-Lig...,123456.0,15.0
9599,Reebok,Used shoes. Still have lots of life in them. S...,5c4d1ff22e147856ab3288c1,Buy Now,"['Women', 'Shoes', 'Athletic Shoes']",Reebok Runtone Shoes and Tshirt,https://poshmark.com/listing/Reebok-Runtone-Sh...,100000.0,25.0
7990,NaN,Happy to negotiate! \nI accept reasonable offe...,5c50c0fd3e0caa104d8727f0,Buy Now,"['Women', 'Tops']",Like it! Get it!🛍🥰,https://poshmark.com/listing/Like-it-Get-it-5c...,100000.0,1000.0
1649,Staring at Stars,Gently pre-owned. No holes or stains. EUC!,5c762941c617772eef406ebc,Buy Now,"['Women', 'Tops', 'Tunics']",Staring at Stars Urban Outfitters Button Flowy...,https://poshmark.com/listing/Staring-at-Stars-...,99999.0,14.0
6815,Fila,Fils Skirt Skort Gray Size M workout Tennis \n...,5c53fc0e7386bc21befe96db,Buy Now,"['Women', 'Skirts']",Fils Skirt Skort Gray Size M workout Tennis,https://poshmark.com/listing/Fils-Skirt-Skort-...,99999.0,28.0
1159,NaN,Handwoven Wool panels in classic Zapotec style...,5c785205a8399e66385709dd,Buy Now,"['Women', 'Bags', 'Shoulder Bags']",Saddle Blanket Purse,https://poshmark.com/listing/Saddle-Blanket-Pu...,99999.0,45.0
3471,Mudd,Gray and white sweater by Mudd. Size large. Sh...,5c5db381819e90c03320dae7,Buy Now,"['Women', 'Sweaters', 'Crew & Scoop Necks']",Gray & white cowl neck sweater by mudd. Size l...,https://poshmark.com/listing/Gray-white-cowl-n...,99999.0,28.0
6668,NaN,Great condition pre owned,5c542882e944ba631ac1687c,Buy Now,"['Women', 'Bags']",Xl tignanello purse,https://poshmark.com/listing/Xl-tignanello-pur...,99999.0,25.0
5156,Kut from the Kloth,Gently pre-owned. No holes or stains. EUC!,5c59c254f63eea67f467e14a,Buy Now,"['Women', 'Shorts', 'Bermudas']",Kut from the Kloth Jean Shorts Bermuda Denim Med,https://poshmark.com/listing/Kut-from-the-Klot...,99999.0,14.0
1242,NaN,Razor Back Leopard Tank\nLike New Condition\n9...,5c7734ae534ef96b4fec46f0,Buy Now,"['Women', 'Tops', 'Tank Tops']",Razor Back Leopard Tank,https://poshmark.com/listing/Razor-Back-Leopar...,99999.0,15.0
1394,NaN,Size 9\nWorn but in good condition,5c76603d7386bc46765aed4b,Buy Now,"['Women', 'Jewelry', 'Rings']",Faux onyx fashion thumb ring,https://poshmark.com/listing/Faux-onyx-fashion...,88811.0,8.0
9040,Zara,Soft light sweater type hi-low top from Zara m...,5c4e10ad8ad2f9c900ae51e3,Buy Now,"['Women', 'Tops']",Zara Knitwear collection hi-low top NWT,https://poshmark.com/listing/Zara-Knitwear-col...,80085.0,8.0
8451,Yves Saint Laurent,Good as new dust bag box,5c506575619745db58691b99,Buy Now,"['Women', 'Shoes', 'Heels']",YSL size 37,https://poshmark.com/listing/YSL-size-37-5c506...,79500.0,350.0
5664,Matana,"Orchid Statement earrings featuring handmade, ...",5c587d1134a4efb82c459e99,Buy Now,"['Women', 'Jewelry', 'Earrings']",Orchid statement earrings,https://poshmark.com/listing/Orchid-statement-...,55558.0,169.0
5935,LuLaRoe,LuLaRoe/LLR Colorful Splattered Leggings ~ TC ...,5c57ba3faa8770a1c9fd6bbb,Buy Now,"['Women', 'Pants', 'Leggings']",LuLaRoe/LLR Colorful Splattered Leggings ~ TC ...,https://poshmark.com/listing/LuLaRoeLLR-Colorf...,20319.0,13.0
9298,Free People,Khaki and purple in color beautiful brand new ...,5c4d80dfbb76151108be8649,Buy Now,"['Women', 'Dresses', 'Mini']",BRAND NEW FREE PEOPLE TUNIC DRESS SIZE 6 100.0...,https://poshmark.com/listing/BRAND-NEW-FREE-PE...,13500.0,100.0
9573,Maia Sarmanian,Super cute leather designer jacket,5c4d2e32f63eea04f0304ae5,Buy Now,"['Women', 'Jackets & Coats']",Maia Sarmanian SZ S Leather & Canvas Jacket,https://poshmark.com/listing/Maia-Sarmanian-SZ...,12345.0,75.0
10374,Dion Lee,Like new. UK 6 or US 2.,5c4b34aad6dc524eb667879c,Buy Now,"['Women', 'Tops']",Dion Lee Black Cut Out Back Top,https://poshmark.com/listing/Dion-Lee-Black-Cu...,12345.0,225.0
8637,GAP,"no tags, no box , never worn",5c4f7dd75eace2a755d97602,Buy Now,"['Women', 'Shoes', 'Flats & Loafers']",GAP ankle strapped plaid sz 10 flats NWOT,https://poshmark.com/listing/GAP-ankle-strappe...,12345.0,15.0
9339,NaN,Good used condition black romper stretchy wais...,5c4d74f1c89e1dc6e41cbdb7,Buy Now,"['Women', 'Dresses']",Black lace romper,https://poshmark.com/listing/Black-lace-romper...,10000.0,12.0
10336,all,CLOSET INFORMATION,5c4b4202de6f626b3fcea493,Not For Sale,"['Women', 'Accessories']",CLOSET INFORMATION NWT,https://poshmark.com/listing/CLOSET-INFORMATIO...,10000.0,1000.0
10698,NaN,Get that Midas Touch with this beautiful blous...,5c4acf2fa31c33b4824e8e38,Buy Now,"['Women', 'Tops', 'Blouses']",SPORT HALEY METALLIC GOLD BLOUSE,https://poshmark.com/listing/SPORT-HALEY-METAL...,9999.0,10.0
5827,LOFT,LOFT Shirt S Black/White Bird Print Back Bow T...,5c57d7361e2d2d8b9fc15e95,Buy Now,"['Women', 'Tops', 'Blouses']",LOFT Shirt S Black/White Bird Print Back Bow Tie,https://poshmark.com/listing/LOFT-Shirt-S-Blac...,9999.0,25.0
8009,A new day,A New Day White Myla Stiletto Heels 8 Open Toe...,5c50c1415098a0d2dd6c8561,Buy Now,"['Women', 'Shoes', 'Heels']",A New Day White Myla Stiletto Heels 8 Open Toe...,https://poshmark.com/listing/A-New-Day-White-M...,9999.0,16.0
2464,Silver Jeans,Dark Wash Suki by Silver Denim Jeans. \n•Color...,5c6db5030cb5aa17faacbc10,Buy Now,"['Women', 'Jeans', 'Boot Cut']",Silver | Suki Medium to Dark Wash Denim Jeans,https://poshmark.com/listing/Silver-Suki-Mediu...,9999.0,25.0
2154,wild fable,Super cute and stylish new plaid crop top!,5c73076ce944bac55ae979c7,Buy Now,"['Women', 'Tops', 'Crop Tops']",NWOT wild fable crop top,https://poshmark.com/listing/NWOT-wild-fable-c...,9999.0,18.0
3023,NaN,To celebrate @wiscoposh’s POSH APOCALYPSE toda...,5c5eb2d2aa571995c2bb2c00,Buy Now,"['Women', 'Other']",@wiscoposh’s Share Event TODAY 2/9 SPECIAL!,https://poshmark.com/listing/wiscoposhs-Share-...,9999.0,10.0
10611,NaN,Believe it!!! An assortment of 10 very unique ...,5c4ade83c89e1db1adb2d16a,Buy Now,"['Women', 'Jewelry', 'Brooches']",ASSORTMENT OF BROOCHES (10),https://poshmark.com/listing/ASSORTMENT-OF-BRO...,9999.0,20.0
...,...,...,...,...,...,...,...,...,...
4356,Rebecca Taylor,NWT MSRP $595 Size 4. Such a cute flirty dress...,5c5b2d67aaa5b8879385ae23,Buy Now,"['Women', 'Dresses', 'Mini']",{ Rebecca Taylor } Sleeveless Faded Floral Dre...,https://poshmark.com/listing/Rebecca-Taylor-Sl...,595.0,300.0
11506,Gucci,Ivory in color with the Gucci logo. Impeccably...,5c49d69f534ef9b81d6f422d,Buy Now,"['Women', 'Shoes', 'Espadrilles']",Signature Gucci Espadrilles,https://poshmark.com/listing/Signature-Gucci-E...,595.0,250.0
4457,Gucci,Vintage Gucci purse 👜 \nOpen to reasonable offers,5c5b13c034a4ef5908796476,Buy Now,"['Women', 'Bags', 'Crossbody Bags']",GUCCI Crossbody,https://poshmark.com/listing/GUCCI-Crossbody-5...,595.0,300.0
10274,Prada,Prada Nylon Crossbody Bag. Used condition.,5c4b50b0c9bf501957800d61,Buy Now,"['Women', 'Bags', 'Crossbody Bags']",Prada Nylon Crossbody Bag,https://poshmark.com/listing/Prada-Nylon-Cross...,590.0,275.0
5620,Stuart Weitzman,Stuart Weitzman Topo Gray Glove Tie Back Ankle...,5c588d19bb761593f1d6ec7e,Buy Now,"['Women', 'Shoes', 'Ankle Boots & Booties']",Stuart Weitzman Gray Glove Tie Back Ankle Boot...,https://poshmark.com/listing/Stuart-Weitzman-G...,585.0,249.0
4886,Burberry,Burberry tan brown long mid skirt \nBlue label...,5c5a4199819e90cea9f94b4c,Buy Now,"['Women', 'Dresses', 'Midi']",Burberry tan brown long mid skirt,https://poshmark.com/listing/Burberry-tan-brow...,580.0,90.0
8992,Dolce & Gabbana,Dolce & Cabbana shoes Espadrilles majolica,5c4e1cdfbaebf6b9c17b29fc,Buy Now,"['Women', 'Shoes', 'Espadrilles']",Dolce& Gabbana shoes size 7,https://poshmark.com/listing/Dolce-Gabbana-sho...,575.0,89.0
7419,Matt Bernson,Beautiful NWOT Matt Bergson gray leather and s...,5c530ebd45c8b378990c52a9,Buy Now,"['Women', 'Shoes', 'Winter & Rain Boots']",Matt Bergson winter shearling boots,https://poshmark.com/listing/Matt-Bergson-wint...,575.0,200.0
8088,CHANEL,Authentic Chanel sunglasses. \nIncludes sungla...,5c4fc9e1f63eea50a0bff044,Buy Now,"['Women', 'Accessories', 'Sunglasses']",CHANEL Sunglasses,https://poshmark.com/listing/CHANEL-Sunglasses...,569.0,50.0
8849,Fendi,Authentic Fendi Roma vintage baguette. Minor w...,5c4f52dd03087c295f9a55f1,Buy Now,"['Women', 'Bags', 'Clutches & Wristlets']",Authentic Fendi Roma vintage baguette,https://poshmark.com/listing/Authentic-Fendi-R...,560.0,159.0
10190,Nena & Co.,Nena & Co.\n\nNO. 9 HERITAGE & SOCIETY FALSERI...,5c4b6b60d6dc527b5568c166,Buy Now,"['Women', 'Bags']",NO. 9 HERITAGE & SOCIETY FALSERIA MCDB & CLUTCH,https://poshmark.com/listing/NO-9-HERITAGE-SOC...,560.0,560.0
1571,Miss Me,Coming SOON!! MISS ME skinny cut Jeans. Blac...,5c7642aabb76158d4d2a6465,Buy Now,"['Women', 'Jeans']",Coming soon!!. Miss me fleir de lis embellish,https://poshmark.com/listing/Coming-soon-Miss-...,555.0,444.0
1620,Coach,Coach Blake Carryall 25\n\n\nColor : ROSE GOLD...,5c7636c82e1478a75935b73c,Buy Now,"['Women', 'Bags', 'Satchels']",Coach Carryall Blake 25,https://poshmark.com/listing/Coach-Carryall-Bl...,555.0,315.0
433,NaN,Barely worn MM Favorite in the monogram canvas...,5c7cc0ba8ad2f97ed6d132fa,Buy Now,"['Women', 'Bags', 'Crossbody Bags']",Louis Vuitton MM Favorite,https://poshmark.com/listing/Louis-Vuitton-MM-...,550.0,400.0
4862,Wilsons Leather,Vintage Black leather Fur collar jacket.The co...,5c5a3cf61b3294c2668c53f7,Buy Now,"['Women', 'Jackets & Coats', 'Blazers']",Wilson Leather Jacket,https://poshmark.com/listing/Wilson-Leather-Ja...,550.0,110.0
9628,Louis Vuitton,"Louis Vuitton Damier Pochette, worn on edges a...",5c4d0e49baebf6b247753663,Buy Now,"['Women', 'Bags', 'Clutches & Wristlets']",Louis Vuitton Damier Pochette,https://poshmark.com/listing/Louis-Vuitton-Dam...,550.0,380.0
6784,NaN,US Small\nTheory Kamari Landing Puffer Jacket ...,5c540af2c2e9fe9ed8646a81,Buy Now,"['Women', 'Jackets & Coats', 'Puffers']",THEORY | KAMRI LANDING PUFFER JACKET,https://poshmark.com/listing/THEORY-KAMRI-LAND...,550.0,229.0
8319,Jovani,Champagne formal dress. Worn once.,5c5079deaaa5b8893282d199,Buy Now,"['Women', 'Dresses', 'Prom']",Jovani Dress,https://poshmark.com/listing/Jovani-Dress-5c50...,550.0,295.0
3792,La CANADIENNE,La Canadienne Waterproof Brown Suede Knee High...,5c5badc60cb5aab92f8e3cc5,Buy Now,"['Women', 'Shoes', 'Heeled Boots']",La Canadienne Waterproof Suede Knee High Boots 9,https://poshmark.com/listing/La-Canadienne-Wat...,550.0,150.0
2420,Jordan,Brand new Jordan concord 11’s,5c6ee4ea0cb5aa545b618909,Buy Now,"['Women', 'Shoes', 'Sneakers']",Jordan 11 concords,https://poshmark.com/listing/Jordan-11-concord...,550.0,525.0
6061,St. John,St. John Womens Sweater Knit Black Cardigan sh...,5c578ff29539f7361046b71f,Buy Now,"['Women', 'Sweaters', 'Cardigans']",St. John sweater knit cardian,https://poshmark.com/listing/St-John-sweater-k...,550.0,199.0
7319,MICHAEL Michael Kors,Color: Gunmetal \nBeautiful Metallic distresse...,5c53269e8ad2f9a1fb9f2845,Buy Now,"['Women', 'Jackets & Coats']",Michael Kors Leather Moto Jacket,https://poshmark.com/listing/Michael-Kors-Leat...,550.0,225.0
3163,Louis Vuitton,-Authentic with date code\n-Production: May 20...,5c5e9a3edf03073a68adc7e9,Buy Now,"['Women', 'Bags', 'Wallets']",Louis Vuitton monogram short wallet,https://poshmark.com/listing/Louis-Vuitton-mon...,550.0,155.0
8036,Louis Vuitton,Vintage but nice condition. Wider then regular...,5c50b9f3534ef965fe55c49b,Buy Now,"['Women', 'Bags', 'Wallets']",Authentic lv Wallet/checkbook cover/passport h...,https://poshmark.com/listing/Authentic-lv-Wall...,550.0,269.0
3431,Free People,"Free people iridescent with tones of red, gree...",5c5db362aa8770c9107ead40,Buy Now,"['Women', 'Shoes', 'Over the Knee Boots']",Free people thigh high glitter boots size 41,https://poshmark.com/listing/Free-people-thigh...,548.0,230.0
9513,Tiffany & Co.,"Beautiful Tiffany & Co Classic Oval Tag ""Retur...",5c4d398b035cf1f67207072b,Buy Now,"['Women', 'Jewelry', 'Necklaces']",🖤Tiffany & Co Oval Tag Choker,https://poshmark.com/listing/Tiffany-Co-Oval-T...,548.0,345.0
63,Fiorentini + Baker,Open to offers! I will upload original picture...,5c7d93deaa8770f019aead6f,Buy Now,"['Women', 'Shoes', 'Ankle Boots & Booties']",FIORENTINI+BAKER 'ELI' LEATHER BOOTS 39.5/8.5,https://poshmark.com/listing/FIORENTINIBAKER-E...,530.0,100.0
11583,marques almeida,MARQUES ALMEIDA • frayed edge denim long sleev...,5c490e1b4ab63325e29c8ab6,Buy Now,"['Women', 'Tops']",MARQUES ALMEIDA • frayed edge denim wrap top m,https://poshmark.com/listing/MARQUES-ALMEIDA-f...,525.0,125.0
1023,Gucci,Comes with box. Some scuffs on toes and heel. ...,5c798381c9bf50cec4708ee3,Buy Now,"['Women', 'Shoes', 'Flats & Loafers']",Gucci leather driver,https://poshmark.com/listing/Gucci-leather-dri...,520.0,179.0
8310,Johnny Was,Johnny Was Sweater Duster Coat - K20\nWomen S ...,5c507ad1c04866740fad4c51,Buy Now,"['Women', 'Jackets & Coats', 'Capes']",Johnny Was Sweater Duster Coat Embroidered Pea...,https://poshmark.com/listing/Johnny-Was-Sweate...,506.0,340.0

#### Clean up `tags` column

In [29]:
# Look at tags column structure
df['tags'][3]

"['Women', 'Dresses']"

In [30]:
# Clean up 'tags' column by removing extraneous characters
# Split 'tags' into a list of strings; each string a different tag
for i in range(len(df)):
    df['tags'][i] = df['tags'][i].replace('[', '').replace(']', '').replace(' ', '').replace("'", "").split(',')
    
    if i % 1000 == 0: # Show progress of cleaning
        print(i)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000

In [31]:
df['tags'][1]

['Women', 'Dresses']

In [32]:
# Create empty DataFrame (df3) with identical index to main DataFrame (df)
df3 = pd.DataFrame(columns=['tag_1', 'tag_2', 'tag_3'], index=df.index)

In [33]:
# Split 'tags' column into three separate columns
for i in range(len(df)):
    df3['tag_1'][i] = str(df['tags'][i][0])
    
    # There isn't always a 2nd and 3rd tag, they're left null
    try:
        df3['tag_2'][i] = str(df['tags'][i][1])
        df3['tag_3'][i] = str(df['tags'][i][2])
    
    except:
        df3['tag_2'][i] = None
        df3['tag_3'][i] = None

In [34]:
# Concatenate df and df3
df = pd.concat([df, df3], axis=1)

In [35]:
# Drop old 'tags' column
df.drop(columns=['tags'], inplace=True)

In [36]:
df.head(3)

,brand,description,item_id,status,title,url,original_price,new_price,tag_1,tag_2,tag_3
0,Benefit,"Includes full size Bad Gal Lash black, full si...",5c8fdb59409c15d1a7284952,Buy Now,Nwt Benefit Triple Decker Decadence Makeup Set,https://poshmark.com/listing/Nwt-Benefit-Tripl...,40.0,35.0,Women,Makeup,Mascara
1,Reiss,Reiss Geometric Print Silk Dress. Size US 8. L...,5c8fdba3035cf175a59fe617,Buy Now,Reiss Geometric Print Silk Dress,https://poshmark.com/listing/Reiss-Geometric-P...,340.0,115.0,Women,None,None
2,Urban Decay,Fabulous Urban Decay eyeshadow primer.,5c8fdb58c89e1dbee824798b,Buy Now,Urban Decay primer,https://poshmark.com/listing/Urban-Decay-prime...,24.0,15.0,Women,Makeup,EyePrimer

In [37]:
# Check dtypes again
df.dtypes

brand              object
description        object
item_id            object
status             object
title              object
url                object
original_price    float64
new_price         float64
tag_1              object
tag_2              object
tag_3              object
dtype: object

In [38]:
# # See how many posts are in each specific category by tag
# len(df[df['tag_2'] == 'Tops'])

In [39]:
# # Total # of unique tag_2 tags
# set(df['tag_2'])

In [40]:
# # Total # of unique tag_3 tags
# set(df['tag_3'])

#### Look at `brand` column

In [41]:
len(set(df['brand']))

2656

In [42]:
# Value count by brand
brand_counts = pd.DataFrame(df['brand'].value_counts())

In [43]:
# Top 10 brands based on post count
brand_counts[brand_counts['brand'] > 20].head(10)

                           brand
Nike                         204
Forever 21                   203
lululemon athletica          191
American Eagle Outfitters    178
LuLaRoe                      177
Free People                  176
J. Crew                      158
PINK Victoria's Secret       156
Victoria's Secret            154
Anthropologie                130

In [44]:
df.tail(3)

,brand,description,item_id,status,title,url,original_price,new_price,tag_1,tag_2,tag_3
11704,eric + ani,White very light weight top. Sparkly pear grap...,5c48fdee9539f7b6b5c3e2db,Buy Now,Eric + ani pear sparkly top,https://poshmark.com/listing/Eric-ani-pear-spa...,25.0,5.0,Women,Tops,Tees-ShortSleeve
11705,BKE,33X33 1/2,5c48fe7a409c15e95d761881,Buy Now,BKE Payton Jeans,https://poshmark.com/listing/BKE-Payton-Jeans-...,45.0,30.0,Women,Jeans,BootCut
11706,Nike,NEW WOMENS NIKE AIR MAX 95’ SE GLITTER,5c48fe4003087c8aaef53fab,Buy Now,NEW WOMENS NIKE AIR MAX 95’ SE GLITTER,https://poshmark.com/listing/NEW-WOMENS-NIKE-A...,170.0,75.0,Women,Shoes,Sneakers

In [46]:
df.to_csv('./clean_data_1.csv')